



<div>
<div class="main">
<div class="card" *ngFor="let card of cards">
        <img [src]="card.url">
        <span class="food-title">{{card.title}}</span>
        <div class="buttons-group" *ngIf="card.showButtonsGroup;else AddBlock">
                <button>
                    +
                </button>
               
                <span class="items">
                    1 in Cart
                </span>
                <button>
                    -
                </button>
        </div>

        <ng-template #AddBlock>
            <div class="add">
                <button pButton type="button" label="Add to Cart" (click)="addToCart(card)" *ngIf="card.showAddButton" class="p-button-secondary"></button>
            </div>
        </ng-template>
</div>
</div>
</div>
